/* WHEN PROJECTS IS CLICKED */
/* SHOW Projects like cards with PICTURE, TITLE, DESC, STACK */

.projects-info {
  color: green;
  /* visibility: hidden; */
  width: 50%;
  background-color: white;
  display: none;
}