/* WHEN PROJECTS IS CLICKED */
/* SHOW Projects like cards with PICTURE, TITLE, DESC, STACK */

.projects-info {
  color: black;
  visibility: hidden;
  width: 0;
  background-color: white;
  display: flex;
  justify-content: center;
  overflow-y: scroll;
  height: 100%;
}

.projects-info h1 {
  margin: 2em;
  text-align: center;
}

.project-card {
  width: 40em;
  height: 25em;
  margin: 5em;
}

.project-window {
  border: 3px solid rgb(197, 197, 197);
  border-top: 20px solid rgb(197, 197, 197); 
  border-radius: 5px;
  /* margin: 5em; */
  width: 40em;
  height: 25em;
  background-size: 40em 25em;
}

.project-content {
  text-align: center;
  visibility: hidden;
  position: relative;
  /* background-color: rgba(255, 255, 255, .6);
  border-radius: 50px; */
  top: -20em;
  left: 5em;
  width:30em;
}

.project-content p {
  overflow-wrap: break-word;
  font-weight: 500;
}

/* Viewports */

/* for half window */
@media screen and (min-width: 1000px) and (max-width: 1300px) {
  .projects-info h1 {
    margin: 1em;
    text-align: center;
  }
  
  .project-card {
    width: 30em;
    height: 18.75em;
    margin: 2.5em;
  }
  
  .project-window {
    border: 3px solid rgb(197, 197, 197);
    border-top: 20px solid rgb(197, 197, 197); 
    border-radius: 5px;
    /* margin: 5em; */
    width: 30em;
    height: 18.75em;
    background-size: 30em 18.75em;
  }
  
  .project-content {
    text-align: center;
    visibility: hidden;
    position: relative;
    /* background-color: rgba(255, 255, 255, .6);
    border-radius: 50px; */
    top: -16em;
    left: 2em;
    width: 90%;
  }

  .project-content p {
    overflow-wrap: break-word;
    font-weight: 500;
    font-size: 1em;
  }
}

/* leave it for smaller window */
@media screen and (min-width: 725px) and (max-width: 1000px) {
  .projects-info h1 {
    margin: 1em;
    text-align: center;
  }
  
  .project-card {
    width: 20em;
    height: 12.5em;
    margin: 2.5em;
  }
  
  .project-window {
    border: 3px solid rgb(197, 197, 197);
    border-top: 20px solid rgb(197, 197, 197); 
    border-radius: 5px;
    /* margin: 5em; */
    width: 20em;
    height: 12.5em;
    background-size: 20em 12.5em;
  }
  
  .project-content {
    text-align: center;
    visibility: hidden;
    position: relative;
    /* background-color: rgba(255, 255, 255, .6);
    border-radius: 50px; */
    top: -8em;
    left: 2.5em;
    width:15em;
  }

  /* make the desc disppear to save some space */
  .project-content p {
    display:none;
  }
}

/* for phone */
@media screen and (min-width: 300px) and (max-width: 725px) {
  .projects-info h1 {
    margin: 1em;
    text-align: center;
  }
  
  .project-card {
    width: 20em;
    height: 12.5em;
    margin: 2.5em;
  }
  
  .project-window {
    border: 3px solid rgb(197, 197, 197);
    border-top: 20px solid rgb(197, 197, 197); 
    border-radius: 5px;
    /* margin: 5em; */
    width: 20em;
    height: 12.5em;
    background-size: 20em 12.5em;
  }
  
  .project-content {
    text-align: center;
    visibility: hidden;
    position: relative;
    /* background-color: rgba(255, 255, 255, .6);
    border-radius: 50px; */
    top: -8em;
    left: 2.5em;
    width:15em;
  }

  /* make the desc disppear to save some space */
  .project-content p {
    display:none;
  }
}